.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.childrenContainer {
  margin-bottom: auto;
}
