.header {
  padding-top: 2rem;
}

.header h1 {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.header a {
  color: #d9367f;
}

.header a:hover {
  color: #b83280;
}

.header h1 a {
  color: #2d3748;
}

.header img {
  width: 40px;
}

.container {
  margin: 0 auto;
  max-width: 896;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.headerMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.25rem;
}

@media (min-width: 640px) {
  .headerMenu {
    flex-direction: row;
    justify-content: space-between;
  }
  .leftMenu {
    flex-direction: row;
    margin-bottom: 0;
  }
  .logos {
    margin-bottom: 0;
  }
}
