.header {
  background-color: white;
  padding: 1.25rem 0 1.25rem 0;
  border-bottom-width: 1px;
  border-color: #e5e7eb;
  border-bottom-style: solid;
  top: 0px;
}
.container {
  max-width: 64rem;
  margin: 0 auto 0 auto;
  padding: 0 1.5rem 0 1.5rem;
}
.headerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.logo {
  width: 12rem;
}
.headerMenu {
  margin-left: 2rem;
  display: flex;
  text-align: center;
}
.menuLink {
  color: #6b7280;
  --tw-space-x-reverse: 0;
  margin-left: 0;
  margin-right: 1.25rem;
  text-decoration: inherit;
}
.menuLink:hover {
  color: #be185d;
}
.callToAction {
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  color: white;
  font-weight: 500;
  background-color: #0ab6d4;
  text-decoration: inherit;
}
.callToAction:hover {
  background-color: #0b91b2;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%),
    0 10px 10px -5px rgb(0 0 0 / 4%);
  transition-duration: 200ms;
}
@media (min-width: 640px) {
  .header {
    height: 5rem;
    position: sticky;
  }
  .headerContent {
    flex-direction: row;
    justify-content: space-between;
  }
  .logoMenuWrapper {
    flex-direction: row;
    margin-bottom: 0px;
  }
}
